* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  background-image: linear-gradient(white, #959481);
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/lake.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.5rem;
  top: 0;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(8px);
}

.logo {
  color: #a09f8d;
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px black;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.btn {
  background-color: black;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.4s;
}

.btn:hover {
  transform: scale(1.2);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 30px;
  color: black;
  text-decoration: underline;
}

#about-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  width: 80%;
  padding: 3rem;
}

#about-text img {
  height: auto;
  max-width: 300px;
  float: right;
  margin-right: 25px;
  border: solid transparent;
  border-radius: 30px;
}

.center {
  display: flex;
}

.left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.projects {
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
  padding: 5rem;
}

.projects img {
  border-radius: 30px;
}

.projects a:hover {
  transform: scale(1.01);
  opacity: 0.7;
}

.info {
  width: 80%;
  display: flex;
  color: black;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
}

.info ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 30px;
  font-size: larger;
}

footer {
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  border: solid 2px black;
  background-color: black;
  padding: 5px;
}

@media screen and (max-width: 850px) {
  .navbar,
  .btn,
  .center,
  .about,
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .logo {
    position: relative;
    margin-top: 100px;
  }

  #about,
  #about-text {
    flex-direction: column;
  }
}
